* {
    background-color: gray;
    text-align: center;
    
}

h1, nav, footer {
    width: 960px;
    height: 60px;
    padding-top: 25px;
    background-color: lightgrey;
    margin-left: 100px;
}

nav {
    margin-top: -15px;
}

section {
    float: left;
    background-color: lightgrey;
    margin-left: 100px;
    margin-top: 10px;
    width: 528px;
    height: 210px;
    padding-top: 20px;
    margin-bottom: 10px;
}

article {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: 493px;
    height: 145px;
    padding-top: 20px;
}

aside {
    background-color: lightgrey;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 422px;
    height: 210px;
    padding-top: 20px;
}

h3 {
    background-color: lightgrey;
    height: 40px;
    width: 473px;
    margin: 10px;
}

p {
    background-color: lightgray;
    height: 40px;
    width: 473px;
    margin-left: 10px;
}

footer {
    clear: both;
}